.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding-top: 1rem;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}
